body {
  height: auto;
  margin-bottom: 130px;
}

#map {
  margin: 25px 55px 0px 55px;
  width: auto;
  height: 400px;
}

#container {
  margin: 20px 0;
  text-align: center;
}

#instructions {
  width: 100%;
  margin-bottom: 25px;
}

button {
  margin-left: 20px;
  margin-right: 20px;
  display: inline;
  width: 20%;
  min-width: 128px;
  height: 36px;
  font-size: 16px;
  line-height: 28px;
  border: 2px solid #888;
  border-radius: 5px;
  background-color: #DDD;
  text-decoration: none;
  color: black;
}

button:hover {
  background-color: #BBB;
}

#message {
  width: 100%;
  text-align: center;
}

.delivery-instructions {
  max-width: 400px;
}

@media(max-width: 700px) {
  body {
    margin: 0;
  }

  #map {
    margin: 0px;
    height: 250px;
  }

  .delivery-instructions {
    max-width: 300px;
  }

  #container {
    height: auto;
    margin-top: 10px;
    font-size: 22px;
  }

  #instructions div:nth-child(2) {
    margin: 7px 0;
    padding: 7px 0;
    border-top: solid #888 2px;
    border-bottom: solid #888 2px;
  }

  button {
    font-size: 0.6em;
    margin: 0px;
    width: 48%;
    height: 100px;
    font-size: inherit;
  }
  #accept {
    left: 5px;
  }
  #decline {
    right: 5px;
  }
}
